/*comentario css*/

#container{
    background-color: #ccc;

}

.cabecalho{
    background-color: rgba(51, 51, 51, 1);
    color: #fff;
    padding: 10px;
    text-align: center;
    background-image: url("../img/image_1_banner-1280x568.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.menu ul li{
    display: inline;
    margin-right: 10px;
    background-color: #ffff;

}