.cabecalho{
    background-color: aqua;
    color: black;
    padding: 20px;
    text-align: center;
}
h1,h2{
    font-family: 'Times New Roman', Times, serif;
}
nav ul{
    list-style: none;  
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
#container{
    padding: 20px;
}